h1{
    text-align: center;
    color: blue;
    text-shadow: 2px 2px 6px red;
    font-family: 'Courier New', Courier, monospace;

    font-size: large;

    letter-spacing: 3px;

    font-weight: 50 px;

    line-height: 50px;
}
#msg{
    color: red;


}